@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-family-1);
   font-size: 18px;
   background-color: #FAF9F6;
}

:root{
   --background:  #ffffff;
   --border:#ece7dd;
   --colorInput:rgb(221 221 221);
   --buttonBue: rgb(83 84 200);
   --colorTextButton:#f0f0f0;
}

.container:hover {
    border: 1px solid #919191;
    background-color: black;
    color: white;
    transition: 2s;
  }
  