.container {
  position: relative;
  top: 150px;
  border: 1px solid var(--border);
  height: 430px;
  margin: 0 auto;
  background-color: var(--background);
  max-width: 640px;
}

.div-container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
}

.div-container-input {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.div-input {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.div-input {
  display: flex;
  gap: 10px;
}

input {
  width: 174px;
  height: 10px;
  border-radius: 25px 0 25px 0;
  border: none;
  background: var( --colorInput);
  padding: 8px;
}

button {
  width: 116px;
  height: 41px;
  border-radius: 13px;
  border: none;
  background: var(--buttonBue);
  font-size: 22px;
  color: var(--colorTextButton);
}



select {
  border-radius: 25px 0 25px 0;
  padding: 4px;
  border: none;
  background: var(--colorInput);
  width: 300px;
}

.limpar{
  width: 75px;
  height: 41px;
  border-radius: 13px;
  border: none;
  background: var(--buttonBue);
  font-size: 22px;
  color: var(--colorTextButton);
  padding: 3px;

}
